<select onchange={{action 'selectUser' value='target.value'}}>
  <option selected="selected">Select a user</option>
  {{#each usersList as |user|}}
    <option value={{user.id}}>{{user.email}}</option>
  {{/each}}
</select>
<button {{action 'assignTask'}} type="button" name="button" disabled={{isNotUserSelected}}>Assign</button>
