<h1>Users</h1>
<ul>
  {{#each model.users as |user|}}
    <li>{{user.firstname}} - Tasks:
      {{#each user.tasks as |task|}}
        {{task.title}},
      {{/each}}
    </li>
  {{/each}}
</ul>
<h1>Tasks</h1>
{{add-task store=store addTask='addTask'}}

<ul>
  {{#each model.tasks as |task|}}
    <li>
      {{task.title}} - Users:
      {{#each task.users as |user|}}
        {{user.email}},
      {{/each}}
      {{select-user users=model.users task=task assignTask='assignTask'}}
    </li>
    <br>
  {{/each}}
</ul>
